<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express Movie Rental</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!-- Header -->
    <header id="header">
        <div class="container">
            <div class="text-center">
                <a href="/" class="nav-brand text-dark">
                    <i class="fa-solid fa-house"></i> Express Movie Rental System (EMRS) <i class="fa-solid fa-house"></i></a>
                    
            </div>
        </div>
    </header>
    <!-- /Header -->

    <main id="site-main">
        <div class="container">
            <div class="box-nav d-flex-justify-between">
                <a href="/" class="border-shadow">
                    <span class="text-gradient">
                        <i class="fa-solid fa-eye"></i>
                        Show movies <i class="fa-solid fa-clapperboard"></i>
                    </span>
                <a href="/add-movie" class="border-shadow">
                    <span class="text-gradient">
                        <i class="fa-solid fa-plus"></i>
                            New Movie 
                        <i class="fa fa-film" aria-hidden="true"></i>
                    </span>
                </a>
                <a href="/show-users" class="border-shadow">
                    <span class="text-gradient">
                        <i class="fa-solid fa-eye"></i>
                        Show Users <i class="fa-solid fa-users" aria-hidden="true"></i>
                    </span>
                </a>
                <a href="/add-user" class="border-shadow">
                    <span class="text-gradient">
                        <i class="fa-solid fa-plus"></i> New User  <i class="fa-solid fa-user"></i>
                    </span>
                </a>
                
                <a href="/show-rentals" class="border-shadow">
                    <span class="text-gradient">
                        <i class="fa-solid fa-eye"></i>
                        Show Rentals <i class="fa-solid fa-book-open-reader" aria-hidden="true"></i>
                    </span>
                </a>
                
            </div>
        </div>
    </main>